db/atomic_service/**
db/server/**
# db/client/**
db/dds/**
db/idl/**

src/scripts/__pycache__/**
src/scripts/config/__pycache__/**
src/scripts/entity/__pycache__/**
src/scripts/util/__pycache__/**
src/scripts/enums/__pycache__/**

db/dds_app/FusionDataDemo/bin/**

.VSCodeCounter