syntax = "proto3";

package {{grpc_service_package}};


{% for message in messages %}
message {{message._name}} {
    {% for field in message._fields %}
    {{field._type_proto}} {{field._name}} = {{field._id}};
    {% endfor %}
}

{% endfor %}


service {{grpc_service_name}} {
    {% for method in methods %}
    rpc {{method._name}} ({{method._requestMsg._name}}) returns ({{method._responseMsg._name}}) {}
    {% endfor %}
}

