#include <iostream>
#include <fstream>
#include <thread>
#include <chrono>
#include <string>
#include <cstring>
#include <cstdlib>
#include <cerrno>
#include <netdb.h>
#include <unistd.h>
#include <sys/types.h>
#include <sys/socket.h>
#include <arpa/inet.h>
#include <netinet/in.h>
#include <ctime>

#include <nlohmann/json.hpp>
{% for service in services %}
#include "../rpc_server_inc/{{ service["grpc_info"]["name"] }}_impl.h"
{% endfor %}
using json = nlohmann::json;

{% for service in services %}
class {{ service["grpc_info"]["name_service"] }}_ServerImpl ;
{% endfor%}

//统计数字位数
int getDigit(int number)
{
    int count = 0;
    while (number != 0)
    {
        number /= 10;
        count++;
    }
    return count;
}

//更新字符数
int updateNumber(int number)
{
    int i = number;
    i = i + getDigit(i);
    i -= 1;
    return i;
}


void monitorComm(const std::string& broadcastAddress, const int port){
    int sock;
    struct sockaddr_in sockertaddr;  
    // 创建UDP socket  
    if ((sock = socket(AF_INET, SOCK_DGRAM, 0)) < 0) {  
        perror("socket creation failed");  
        exit(EXIT_FAILURE);  
    }  
  
    // 设置socket选项以允许广播  
    int opt = 1;
    if (setsockopt(sock, SOL_SOCKET, SO_BROADCAST, &opt, sizeof(opt)) < 0) {  
        perror("setsockopt(SO_BROADCAST) failed");  
        exit(EXIT_FAILURE);  
    }  
  
    // 初始化广播地址结构  
    memset(&sockertaddr, 0, sizeof(sockertaddr));  
    sockertaddr.sin_family = AF_INET;  
    sockertaddr.sin_addr.s_addr = inet_addr(broadcastAddress.c_str());  
    sockertaddr.sin_port = htons(port);  

    // 构造注册信息
    json registry_json;
    json header;
    header["protocol_identifier"] =22;
    header["send_time"] = time(NULL);
    header["message_length"] = 1;
    header["message_serial_number"] = 1;
    header["check_bit"] = 4;
    header["type"] = 1;
    registry_json["header"] = header;
    registry_json["server_name"] = "{{name}}";
    registry_json["address"] = "{{ip}}";
    registry_json["port"] = {{port}};

    json registry_services_list = json::array();
    
    {% for service in services %}
    registry_services_list.push_back({ {"service_name","{{service["grpc_info"]["name"]}}"},{"role", 1} });
    {% endfor %}
    registry_json["services_list"] = registry_services_list;
    std::string registry_str = registry_json.dump();
    header["message_length"] = updateNumber(registry_str.size());
    registry_str = registry_json.dump();
    // 发送注册报文到广播地址
    if (sendto(sock, registry_str.c_str(), registry_str.size(), 0, (struct sockaddr *)&sockertaddr, sizeof(sockertaddr)) < 0) {
        close(sock);
        exit(EXIT_FAILURE);
    }

    // 构造元数据信息
    json metadata_registry_json;
    header["protocol_identifier"] =22;
    header["send_time"] = time(NULL);
    header["message_length"] = 1;
    header["message_serial_number"] = 1;
    header["check_bit"] = 4;
    header["type"] = 3;
    metadata_registry_json["header"] = header;
    metadata_registry_json["server_name"] = "{{name}}";
    metadata_registry_json["address"] = "{{ip}}";
    metadata_registry_json["port"] = {{port}};
    json metadata_registry_services_list = json::array();
    {% for service in services %}
    metadata_registry_services_list.push_back({ {"metadata",{ { "version", "{{service["basic_info"]["version"]}}" },{"decription","{{service["basic_info"]["description"]}}"},{"developer","{{service["basic_info"]["owner"]["developer"]["name"]}}"},{"build_time","{{service["basic_info"]["build_time"]}}"} } },{"service_name", "{{service["basic_info"]["name"]}}" },{"card","atlas"},{"os","openeuler"} });
    {% endfor %}
    metadata_registry_json["services_list"] = metadata_registry_services_list;
    std::string metadata_registry_str = metadata_registry_json.dump();
    header["message_length"] = updateNumber(metadata_registry_str.size());
    metadata_registry_str = metadata_registry_json.dump();
    // 发送注册报文到广播地址
    if (sendto(sock, metadata_registry_str.c_str(), metadata_registry_str.size(), 0, (struct sockaddr *)&sockertaddr, sizeof(sockertaddr)) < 0) {
        close(sock);
        exit(EXIT_FAILURE);
    }


    //构造心跳信息
    json heartbeat_json;
    json heartbeat_services_list;
    while (1) { 
        // 无限循环，每30秒发送一次  
        header["protocol_identifier"] =22;
        header["send_time"] = time(NULL);
        header["message_length"] = 1;
        header["message_serial_number"] = 1;
        header["check_bit"] = 4;
        header["type"] = 7;
        heartbeat_json["header"] = header;
        heartbeat_json["server_name"] = "{{name}}";
        heartbeat_json["address"] = "{{ip}}";
        heartbeat_json["port"] = {{port}};
        heartbeat_services_list = json::array();
        {% for service in services %}
        heartbeat_services_list.push_back({ {"service_name","{{service["grpc_info"]["name"]}}"},{"role", 1} });
        {% endfor %}
        registry_json["services_list"] = metadata_registry_services_list;
        std::string heartbeat_str = heartbeat_json.dump();
        header["message_length"] = updateNumber(heartbeat_str.size());
        heartbeat_str = heartbeat_json.dump();
        // 发送注册报文到广播地址
        if (sendto(sock, heartbeat_str.c_str(), heartbeat_str.size(), 0, (struct sockaddr *)&sockertaddr, sizeof(sockertaddr)) < 0) {
            close(sock);
            exit(EXIT_FAILURE);
        }

        sleep(30);  
    }  

    // 关闭socket
    close(sock);  
}


void RunServer(const std::string& ip, const std::string& port) {
    std::string server_address(ip+":"+port);
    ::grpc::ServerBuilder builder;
    builder.AddListeningPort(server_address, ::grpc::InsecureServerCredentials());
    // TODO add service
    {% for service in services %}
    {{ service["grpc_info"]["name_service"] }}_ServerImpl {{ service["grpc_info"]["name"] }}_instance;
    builder.RegisterService(&{{ service["grpc_info"]["name"] }}_instance);
    {% endfor %}
    std::unique_ptr<::grpc::Server> server(builder.BuildAndStart());
    std::cout << ">>>> Server listening on " << server_address << std::endl;
    server->Wait();
}

int main(int argc, char** argv) {

    std::string ip = "{{ ip }}";
    std::string port = "{{ port }}";
    std::string broadcastAddress = "{{ broadcast_address }}";  // Default broadcast addressIP "192.168.0.255"
    std::string broadcastPort = "{{ broadcast_port }}";     // Default broadcast port

    std::cout << ">>>>[INFO] Server IP: " << ip << std::endl;
    std::cout << ">>>>[INFO] Server Port: " << port << std::endl;
    std::cout << ">>>>[INFO] Broadcast Address: " << broadcastAddress << std::endl;
    std::cout << ">>>>[INFO] Broadcast Port: " << broadcastPort << std::endl;

    std::thread senderThread(monitorComm, broadcastAddress, std::stoi(broadcastPort));
    // TODO: Add other threads here
    
    RunServer(ip,port);
    
    senderThread.join();

    return 0;
}